html {
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    background: #fffaf6;
    height: 100%;
}

::-moz-selection { /* Code for Firefox */
    background: #F79432;
}

::selection {
    background: #FFBB78;
}

input[type="text"] {
    padding: 12px;
    border: none;
    width: 250px;
    background: #fff0d3;
    font-size: 20px;
    color: #5E3208;
    height: 24px;
}

input[type="password"] {
    padding: 12px;
    border: none;
    width: 250px;
    background: #fff0d3;
    font-size: 20px;
    color: #5E3208;
    height: 24px;
}


:link:focus, :visited:focus {
    outline: none;
}

.loginInputDiv {
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.loginInputDiv > input[type="text"], input[type="password"] {
    border-radius: 0 8px 8px 0;
}

.loginIcon {
    background: #F79432;
    color: #fffaf6;
    border-radius: 8px 0 0 8px;
    height: 32px;
    width: 32px;
    padding: 8px;
}



.bold {
    font-weight: bold;
}

.width100 {
    width: 100%;
}

.bottom108 {
    margin-bottom: 108px;
}

.bottom40 {
    margin-bottom: 40px;
}

.bottom20 {
    margin-bottom: 20px;
}

.left20 {
    margin-left: 20px;
}

.right20 {
    margin-right: 20px;
}


.font0 {
    /* used in header anchors with embedded svg to remove trailing whitespace" */
    font-size: 0;
}


.font40 {
    font-size: 40px;
}

.height32 {
    height: 32px;
}

.height43 {
    height: 43px;
}

.ellipsisText200 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

#loginHeaderDiv {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#logoHeader {
    margin-bottom: 20px;
    height: 105px;
}

/*#loginTitle {*/
/*    color: black;*/
/*    text-align: center;*/
/*    font-size: 100px;*/
/*    margin: 0;*/
/*}*/

#loginPageContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginBox {
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px 3px rgba(22, 16, 1, 0.13);
    border-radius: 6px;
    margin-bottom: 15px;
    overflow: auto;
}

#loginBox > p {
    color: #5E3208;
    text-align: center;
    margin: 0 0 20px 0;
}

#loginTabs {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: 24px;
}

#loginTabs p {
    padding: 10px;
    border-radius: 8px;
}

.selectedLoginTab {
    color: #5e0808;
    font-weight: bold;
    pointer-events: none;
}

.unselectedLoginTab {
    color: #b3a295;
    cursor: pointer;

}

.unselectedLoginTab:hover {
    background-color: #E9BD99;
    color: #5e0808;
}

@media (max-width: 1024px)  {

    #loginBox {
        background: transparent;
        box-shadow: none;
        padding: 40px 0;
    }


}