#header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 40px;
    background: #ffffff;
    color: #5E3208;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px 1px rgba(22, 16, 1, 0.13);

}

#header a {
    color: #5E3208;
}

#header a:hover {
    color: #F79432;
}

.marginVertical0 {
    margin-top: 0;
    margin-bottom: 0;
}

.height28 {
    height: 28px;
}

.headerSvg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
}