#header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 40px;
    background: #FFA64E;
    color: #5E3208;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

#header a {
    color: #5E3208;
}

#header a:hover {
    color: #fff0d3;
}

.marginVertical0 {
    margin-top: 0;
    margin-bottom: 0;
}

.height28 {
    height: 28px;
}

.headerSvg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linejoin: round;
    stroke-miterlimit: 2;
}