<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Error page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/main.css" th:href="@{/css/auth.css}" />
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
<a href="user.html" th:href="@{/index}">Back to Home Page</a>
</body>
</html>