<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/links.js}"></script>

</head>

<body>
<header th:replace="fragments/header"/>
<!--<form th:action="@{/logout}" th:method="post">-->
<!--    <button type="submit" style="background: url(static/icon/logout.svg); background-size:cover"></button>-->
<!--</form>-->

<main>
    <div id="newUrlContainer">
        <div id="newUrlBox">
            <form th:action="@{/user/links}" th:method="post">
                <div><input onclick="hideUrlError()" placeholder="Introduce Url" width="100%" type="text" id="newUrlInput"
                            name="newUrl"/>
                    <!--                        onclick="hideLoginError()"-->
                    <input type="submit" id="newUrlButton" value="Acortar"/>
                </div>
            </form>
        </div>
    </div>
    <div  class="flexCenter height43 bottom20">
        <div  th:if="${urlError != null}"  th:text="${urlError}" class="errorDialog" id="hidableUrlError"/>
    </div>

    <div th:if="${links != null && !links.empty}" class="flexCenter">
        <table>
            <tr>
                <th class="notMobile">Acortado</th>
                <th>Dirección</th>
                <th>Visitas</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="link: ${links}">
                <td class="notMobile" th:text="${baseUrl + link.shortUrl}"> </td>
                <td th:text="${link.url}"> </td>
                <td th:text="${link.clicks}"></td>
                <td></td>
            </tr>
        </table>


    </div>

</main>


</body>
</html>