<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
<header th:replace="fragments/header"/>
<!--<form th:action="@{/logout}" th:method="post">-->
<!--    <button type="submit" style="background: url(static/icon/logout.svg); background-size:cover"></button>-->
<!--</form>-->

<main>
    <div id="newUrlContainer">
        <div id="newUrlBox">
            <form th:action="@{/user/links}" th:method="post">
                <div><input placeholder="Introduce Url" width="100%" type="text" id="newUrlInput"
                            name="newUrl"/>
                    <!--                        onclick="hideLoginError()"-->
                    <input type="submit" id="newUrlButton" value="Acortar"/>
                </div>
            </form>
        </div>
    </div>

</main>


</body>
</html>