<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acortador de Enlaces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/auth.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <script th:src="@{/js/login.js}"></script>
    <link rel="shortcut icon" type="image/png"/>
</head>
<body>
<main id="loginPageContent">
    <div id="loginBox">

        <p class="font40 bottom20">URL shortener</p>

        <div id="loginTabs" class="bottom20">
            <p id="loginTab" onclick="selectForm('login')">Login</p>
            <p id="signUpTab" onclick="selectForm('signup')">Registro</p>
        </div>
        <form th:action="@{/auth/login}" method="post" id="loginForm">
            <!-- name attribute in login inputs are defined in spring security loginForm (usernameParameter and passwordParameter),
             if not defined their defanult names are username and password -->
            <div class="loginInputDiv bottom40"><img th:src="@{/icon/email.svg}" alt="mail icon"
                                                     class="loginIcon"/> <input placeholder="Email" type="text"
                                                                                onclick="hideLoginError()"
                                                                                id="email" name="email"/></div>
            <div class="loginInputDiv bottom20"><img th:src="@{/icon/key.svg}" alt="key icon"
                                                     class="loginIcon"/> <input placeholder="Contraseña" type="password"
                                                                                onclick="hideLoginError()"
                                                                                id="password" name="password"/></div>
            <div class="bottom20 height43">
                <div th:if="${param.error}">
                    <div class="errorDialog" id="hidableLoginError">
                        Credenciales inválidas.
                    </div>
                </div>

            </div>

            <input class="width100" type="submit" value="LOGIN"/>
        </form>
        <form th:action="@{/auth/signUp}" method="post" id="signUpForm">

            <div class="loginInputDiv bottom108"><img th:src="@{/icon/email.svg}" alt="key icon"
                                                     class="loginIcon"/> <input placeholder="Email de Registro" type="text"
                                                                                onclick="hideSignupError()"
                                                                                id="emailSignup" name="emailSignup"/>
            </div>

            <div class="bottom20 height43">
                <div th:if="${param.error}">
                    <div class="errorDialog" id="hidableSignupError">
                        Credenciales inválidas.
                    </div>
                </div>

            </div>

            <input class="width100" type="submit" value="REGISTRO"/>
        </form>
    </div>


</main>

</body>
</html>